<div class="d-flex justify-content-center">
  <div class="col-8">
    <form [formGroup]="book" #f="ngForm" (ngSubmit)="book?.valid && onSubmit(f)">
      <div class="alert alert-danger" *ngIf="!book?.valid && f?.submitted">
          There are some problems with feilds
      </div>
  
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          [class.bg]="val"
          [class.ip]="val"
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          (focusout)="func()"
        />
      </div>
      <div *ngIf="!title?.valid && title?.touched" class="alert alert-danger">
          <div *ngIf="title?.errors?.['required']">Title feild is required.</div>
          <div *ngIf="title?.errors?.['specialChar']">Donot use / -.</div>
          
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="2"
          formControlName="description"
        ></textarea>
      </div>
      <button [disabled]="!f.valid" [class.bg]="!f.valid" class="btn btn-primary m-2" type="submit">Submit</button>
      <button class="btn btn-warning m-2" type="reset">Reset</button>
    </form>
  </div>
</div>
