<div class="d-flex justify-content-center">
  <div class="col-8">
    <form [formGroup]="bookEdit" #f="ngForm">
      <div class="alert alert-danger" *ngIf="!bookEdit?.valid && f?.submitted">
        There are some problems with feilds
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
        />
      </div>
      <div *ngIf="!title?.valid && title?.touched" class="alert alert-danger">
        <div *ngIf="title?.errors?.['required']">Title feild is required.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="2"
          formControlName="description"
        ></textarea>
      </div>
      <button
        class="btn btn-primary m-2"
        type="submit"
        (click)="bookEdit?.valid && onSubmit(f)"
      >
        Submit
      </button>
      <button class="btn btn-warning m-2" type="reset">Reset</button>
      <button class="btn btn-danger m-2" (click)="onDelete(book.id)">
        Delete
      </button>
    </form>
    
  </div>
</div>
